* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: roboto;
}

/* Header */
.darkBackground {
  height: 500px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.hero-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  text-align: left;
  padding: 25px 0;
}
.hero-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  list-style: none;
  gap: 18px;
  padding: 25px 0;
}

.hero-main {
  display: flex;
  width: 70%;
  gap: 35px;
  justify-content: space-between;
  padding: 25px 0;
  margin: 20px 0;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  max-width: 400px;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 400px;
}

.main-img img {
  width: 500px;
  height: 300px;
}

.hero-main button {
  background-color: #3882f6;
  padding: 10px 50px;
  border-radius: 10px;
  margin: 20px 0px;
}

/* Information */
.information {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.information .header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 30px 0px;
}

.information .container {
  display: flex;
  gap: 30px;
}

.illustration {
  max-width: 200px;
  max-height: 300px;
}

.illustration img {
  width: 100%;
  border-radius: 15px;
}

.illustration p {
  color: #1f2937;
  text-align: center;
}

/* Quote */
.quote {
  height: 400px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}
.quote p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote span {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  align-self: flex-end;
}
.bottom-signup {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  height: 150px;
  width: 80%;
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.call-to-action .heading {
  font-size: 24px;
}
.call-to-action button {
  padding: 5px 30px;
  background: none;
  border-radius: 5px;
  border: 2px solid;
  font-size: 18px;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
